.env
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/*.db
data/*.db-shm
data/*.db-wal
data/raw/*
data/images/*
!data/raw/.gitkeep
!data/images/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/raw/
!outputs/raw/.gitkeep

.gradio/
gradio_cached_examples/
